*.suo
*.log
*.tlog
*.obj
*.opensdf
*.exe
*.ilk
*.pdb
*.lastbuildstate
*.idb
DC/media/knight/.DS_Store
DC/media/knight/._.DS_Store
DC/media/knight/mesh/.DS_Store
DC/media/knight/mesh/._.DS_Store
DC/media/knight/mesh/._fantasy Knight.dae
DC/PruebaMenu/Release/DC1.res
DC/Setup2/Setup2.isl
DC/Setup2/Setup2.isproj
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 03-56-27.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 04-11-18.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 04-15-45.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 04-22-30.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 04-32-47.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 06-31-36.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 06-45-03.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 06-50-47.txt
DC/Setup2/Setup2/Express/SingleImage/LogFiles/4-15-2014 06-52-57.txt
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 03-57-08.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 04-12-06.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 04-16-28.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 04-23-16.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 04-33-34.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 06-33-14.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 06-46-37.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 06-52-16.htm
DC/Setup2/Setup2/Express/SingleImage/Reports/4-15-2014 06-54-20.htm
