*.suo
*.log
*.tlog
*.obj
*.opensdf
*.exe
*.ilk
*.pdb
*.lastbuildstate
*.idb
DC/media/knight/.DS_Store
DC/media/knight/._.DS_Store
DC/media/knight/mesh/.DS_Store
DC/media/knight/mesh/._.DS_Store
DC/media/knight/mesh/._fantasy Knight.dae
